<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
	<title>Ye Fortune Cookie Generator</title>
</head>

<body>

    <h1>Welcome to the Ye Fortune Cookie Generator</h1>
    <br><br><br><br>
    <h3>Ye, formerly known as Kanye West, is widely regarded as one of the greatest musicians of his generation. 
        His words have made people laugh, cringe, and feel inspired. This website allows you to get a fortune cookie
        with a Ye quote to think about. </h3><br><br><br><br><br><br><br><br><br>
        <div id="options">
            First time on this site? <a href="/apply">Click here to get your personalized Ye fortune cookie!</a><br><br>
            Want to look at your fortune cookie message again? <a href="/review">Click here to review your Ye quote!</a>
        </div>
   <!--<h2>Admin</h2>
    <ul>
        <li>To select users based on gpa <a href="/gpa">Select by GPA</a></li>
        <li>To remove all applications <a href="/remove">Remove All Applications</a></li>
    </ul>

    <hr>
--> 
</body>

</html>
