<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style2.css" />
	<title>Fortune Cookie</title>
</head>

<body>

	<h1>Here is your personal Ye fortune cookie!</h1>
	
	<%- quote %><br>


    <hr>
    <a href="/">HOME</a>

</body>

</html>