<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style2.css" />
	<title>Review Fortune Cookie</title>
</head>

<body>
	<h1>Here is your personal Ye fortune cookie!</h1>
    <div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br><br><br><br>
		<div id="quotation">
			<strong>Quote: "</strong><%- quote %><strong>"</strong><br><br><br>
		</div>
	</div>

    <hr>
    <a href="/">HOME</a>

</body>

</html>